@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

@theme {
  --font-sans: 'Plus Jakarta Sans', sans-serif;

  --color-strada-blue: #037894;
  --color-strada-black: #020000;
  --color-strada-foam: #E4DED8;
  --color-strada-teal-light: #8FC6C5;
  --color-strada-charcoal: #4C4845;
  --color-strada-gray: #8A8A8D;
  --color-strada-coral: #FF4F31;
  --color-strada-amber: #DE9733;
  --color-strada-teal-dark: #005353;
  --color-strada-forest: #233212;
  --color-strada-olive: #82A13B;
}

* {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
  background-color: #E4DED8;
}